$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header {
	@include zero-margin(0px, 0px);
}

.row-content {
	@include zero-margin(50px, 0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px, 0px);
}

.jumbotron {
	@include zero-margin(70px, 30px);
	background-color: $background-light;
	color: floralwhite;
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}

body {
	padding: 50px 0 0 0;
	z-index: 0;
}

.navbar-dark {
	background-color: $background-dark;
}

.tab-content {
	border-left: 1px solid $lt-gray;
	border-right: 1px solid $lt-gray;
	border-bottom: 1px solid $lt-gray;
	padding: 10px;
}

.login-btn {
	right: 0;
}

.carousel {
	background: $background-dark;

	.carousel-item {
		height: $carousel-item-height;

		img {
			width: 80%;
			min-height: 100%;
			margin: auto;
		}
	}

	#carouselButton {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
	}
}

.modal {
	.modal-header {
		font-weight: bold;
		color: #fff;
		background-color: $background-dark;
		button.close {
			color: floralwhite;
		}
	}
	.modal-body {
		background-color: $background-pale;
	}
}
